<div class="row">
  <div class="col-md-8">
    <h2>Nachrichten</h2>
    <ul id="messages" class="list-group">
    </ul>
    <input id="chat-input" type="text" class="form-control" placeholder="Neue Chat-Nachricht"></input>
  </div>
  <div class="col-md-4">
    <h2>Wer ist online?</h2>
    <ul id="user-list" class="list-group">
      <li class="list-group-item">Heiko</li>
      <li class="list-group-item">Patrick</li>
    </ul>
  </div>
</div>
